# Porta onde rodar o servidor
PORT=9000

# Bearer token para autenticar nos endpoints da API
API_TOKEN=""

# Chave PIX de destino
PIX_KEY=""

# Nome do recebedor
PIX_NAME=""

# Cidade do recebedor
PIX_CITY=""

# URL de envio geral de eventos
WEBHOOK_URL="http://localhost:9000/webhook"